body {
    background: #f1e2d7;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

html,body {
    width: 100%;
    height: 100%;
}

/*---------------------------------------
    Typography              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-weight: 300;
}

h1,h2,h3 {
    font-weight: 300;
}

h1 {
    font-size: 42px;
    padding-bottom: 14px;
    margin-bottom: 0;
}

h2 {
    font-size: 42px;
    line-height: 52px;
    margin-top: 0;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 6px;
    font-weight: bold;
}

h4 {
    color: #306333;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 6px;
}

h5 {
    color: #666666;
}

strong {
    color: #232B2B;
    font-weight: normal;
}

p {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
}

ul {
    list-style: none;
}

.section-btn {
    background-color: transparent;
    border: 3px solid #232B2B;
    border-radius: 100px;
    color: #232B2B;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 12px 36px;
    margin-top: 42px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
}

.section-btn:hover {
    background: #7E9A86;
    border-color: transparent;
    color: #f1e2d7;
}

.btn-success:focus {
    background-color: #000;
    border-color: transparent;
}

.section-title {
    position: relative;
    padding-bottom: 22px;
}

#about,
#service,
#experience,
#education,
#contact {
    position: relative;
}

#home .container,
#about .container, 
#service .container,
#experience .container,
#education .container,
#contact .container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#service,
#quotes,
footer {
    text-align: center;
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height:100%;
    min-height: 35vh;
    position: absolute;
}

.color-white {
    color: #f1e2d7;
}

.color-accent {
    color: #306333;
}

.color-accent-light{
    color : #7E9A86;
}

/*---------------------------------------
    General               
-----------------------------------------*/
html{
    -webkit-font-smoothing: antialiased;
}

a {
    color: #f1e2d7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}
a:hover, a:active, a:focus {
    color: #f1e2d7;
    outline: none;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #f1e2d7;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #306333;
    border-top-color: #f9f9f9;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

/*---------------------------------------
    Navigation section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #f1e2d7;
}

.custom-navbar .navbar-brand {
    color: #333;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}

.custom-navbar .nav li a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #7E9A86;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #306333;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #306333;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #f1e2d7;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
        padding: 0;
    }
}

/*---------------------------------------
    Home section              
-----------------------------------------*/
#home h1 {
    padding-bottom: 18px;
}

#home .col-md-6 {
    background: #f1e2d7;
}

#home .home-img {
    background: url('../images/placeholder.jpeg') no-repeat;
    background-size: cover;
    border-radius: 25px;
    border: 0 solid #f1e2d7;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
}

#home .home-thumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    padding: 0 45px 0 45px;
}

/*---------------------------------------
   About section              
-----------------------------------------*/
#about{
    padding: 32px 15px;
}

#about .row{
    margin: 0;
}

#about .about-img {
    padding: 32px 32px 32px 32px;
    background: url('../images/placeholder.jpeg') no-repeat;
    border-radius: 25px;
    border: 2px solid #f1e2d7;
}

#about .about-thumb{
    padding: 32px 32px 32px 32px;
}

#about .skill-thumb {
    padding: 32px 32px 32px 32px;
    background: #9a7e92;
    border-radius: 25px;
    border: 2px solid #f1e2d7;
}

#about .progress {
    background: #7c6676;
    border-radius: 0;
    box-shadow: none;
    height: 2px;
}

#about .progress-bar-primary {
    background: #f1e2d7;
}

#about strong,
#about span {
    color: #f1e2d7;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

/*---------------------------------------
    Service section              
-----------------------------------------*/
#service {
    background: #f1e2d7;
    padding: 32px 15px;
}

#service .row{
    margin: 0;
}

#service p {
    font-size: 18px;
    line-height: 30px;
}

#service .service-thumb {
    padding: 52px 52px 52px 52px;
    border-radius: 25px;
    border: 2px solid #7E9A86;
    background: #f1e2d7;
}

#service .service-thumb .fa {
    font-size: 42px;
    padding-bottom: 22px;
}

/*---------------------------------------
    Experience section              
-----------------------------------------*/
#experience {
    background: #f1e2d7;
    padding: 32px 15px;
}

#experience .row{
    margin:0;
}

#experience .experience-thumb-l1 img {
    background-position: 50% 50% !important;
    object-fit:cover;
    height: 39.3vh;
    width:100%;
    border-radius: 25px;
    border: 1px solid #f1e2d7;
}

#experience .experience-thumb-l2{
    background: #7E9A86;
    border-radius: 25px;
    border: 2px solid #7E9A86;
    padding: 32px 32px 32px 32px;
}

#experience .media-heading {
    margin-bottom: 0;
}

#experience .media .fa {
    font-size: 42px;
    margin-right: 14px;
}

#experience small {
    color: #633;
    font-weight: bold;
}

/*---------------------------------------
    Education section              
-----------------------------------------*/
#education {
    background: #f1e2d7;
    padding: 32px 15px;
}

#education .row{
    margin:0;
}

#education .education-thumb{
    background: #9a7e92;
    border-radius: 25px;
    border: 2px solid #9a7e92;
    padding: 32px 32px 32px 32px;
}

#education .education-thumb-l1 img  {
    background-position: 50% 50% !important;
    object-fit:cover;
    height: 39.3vh;
    width:100%;
    border-radius: 25px;
    border: 1px solid #f1e2d7;
}

#education .media-heading {
    margin-bottom: 0;
}

#education .media .fa {
    font-size: 42px;
    margin-right: 14px;
}

#education small {
    color: #886D1E;
    font-weight: bold;
}

/*---------------------------------------
    Contact section              
-----------------------------------------*/
#contact {
    background: #f1e2d7;
    padding: 32px 32px 32px 32px;
}

#contact .contact-form,
#contact .contact-thumb {
    background: #7E9A86;
    border-radius: 25px;
    border: 2px solid #7E9A86;
    padding: 22px 32px 22px 32px;
    margin: auto;
    width: 50%;
}

#contact .form-control::-moz-placeholder{color:#f1e2d7;opacity:1}
#contact .form-control:-ms-input-placeholder{color:#f1e2d7}
#contact .form-control::-webkit-input-placeholder{color:#f1e2d7}

#contact .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #f1e2d7;
    border-radius: 0;
    box-shadow: none;
    color: #f1e2d7;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
    border-bottom-color: #f1e2d7;
}

#contact input {
    height: 45px;
}

#contact input[type="submit"] {
    background: #f1e2d7;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #161616;
    padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
    background: transparent;
    border: 2px solid #f1e2d7;
    color: #f1e2d7;
}

#contact .fa {
    padding-right: 10px;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
    padding: 32px 0;
}

/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #7E9A86;
    border-color: #f1e2d7;
    color: #f1e2d7;
    transform: scale(1.1);
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/
@media only screen and (max-width: 580px) {
    h1 {
        font-size: 32px;
    }

  h2 {
        font-size: 28px;
        line-height: inherit;
    }

  h3 {
        font-size: 22px;
        line-height: inherit;
    }
}

@media only screen and (max-width: 700px) {
    .custom-navbar .navbar-brand {
        line-height: 18px;
    }

    #home .home-thumb {
        height: auto;
        padding-top: 32px;
        padding-bottom: 12px;
    }
    #home .container .row{
        margin:0;
    }
    #home .container .row .col-md-6{
        padding-left:0;
        padding-right:0;
    }
    #home .container .row .col-md-6 .home-thumb{
        padding-left:30px;
        padding-right:30px;
    }
    #home,
    #about,
    #experience,
    #education,
    #contact{
        padding: 15px;
    }

    #about .container,
    #service .container,
    #experience .container,
    #education .container{
        padding: 0;
    }

    #about .container .row,
    #service .container .row{
        margin: 0;
    }

    #about .container .row .col-md-3,
    #about .container .row .col-md-6{
        padding-left: 0;
        padding-right: 0;
    }

    #service{
        padding: 7px 15px;
    }

    #service .container .row .col-md-3{
        padding: 8px 0;
    }

    #contact .contact-form{
        width: 100%;
    }

    #contact .container .row{
        margin: 0;
    }

    .background-image {
        position: relative;
        min-height: 65vh;
    }

    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 701px)and (max-width: 1024px) {
    .section-title {
        padding-bottom: 12px;
    }

    footer {
        padding: 40px 0;
    }

    #about .container .row{
        margin: 0;
    }

    #about .container .row .col-md-3{
        padding-left: 0;
        padding-right: 0;
    }

    #service{
        padding: 0 32px;
    }

    #about,
    #experience{
        padding: 15px 32px;
    }

    #service .col-md-3{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #home .container,
    #experience .container,
    #education .container,
    #contact .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-md-6{
        padding: 0 0 0 0;
    }

    #contact .contact-form{
        width: 100%;
    }
}